
.vs/
*.user
*.userosscache
*.sln.docupdates

[Bb]in/
[Oo]bj/
[Aa]rm/
[Aa]rm64/
[Xx]64/
[Xx]86/


*.VC.db
*.VC.opendb
*.VC.VC.opendb


.vsconfig
*.suo
*.user
*.userosscache
*.sln.docupdates


.deploy/
publish/